*{
    margin-top: 0;
}
#titulo{
    color: white;
    font-size: 20px;
    padding-left: 77%;
    padding-top: 1.5%;
}

#estructura{
    width: 40%;
    height: 533px;
    border: 2px black solid;
    border-radius: 20px;
    margin-top: 9%;
    margin-left: auto;
    margin-right: auto;
}
#arriba{
    width: 100%;
    height: 50px;
    display: flex;
    background-color: #3C3C3C;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#cuerpo{
    width: 100%;
    height: 400px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background-image: url("wassap.jpg");
    
}
#abajo{
    width: 100%;
    height: 15%;
    border-top: 2px grey solid;
    background-color: #3C3C3C;
    display: flex;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#escribir{
    width: 70%;
    height: 30px;
    border: 2px black solid;
    margin-top: 25px;
    margin-left: 50px;
    font-size: 17px;
}

#mandar{
    margin-top: 23px;
    margin-left: 10px;
    width: 33px;
    height: 33px;
}
#quitarpunto{
    list-style: none;
}
#mensajemio{
    width: 30%;
    border: 2px #00A884 solid;
    background-color: #00A884;
    border-radius: 10px;
    color: white;
    margin: 2px;
    margin-left: 69.5%;
    padding: 3px;
    align-items: stretch;
    word-break: break-all;
}
#letras{
    text-align: left;
}
#mensaje{
    width: 30%;
    border: 2px #3C3C3C solid;
    background-color: #3C3C3C;
    border-radius: 10px;
    margin: 2px;
    margin-left: 1.5%;
    padding-left: 6px;
    color: white;
    word-break: break-all;
}
#soyyo{
    background-color: aqua;
}
#colorpersonas{
    color: aqua;
}
#flechasalir{
    
    margin-top: 2px;
    padding: 8px;
}
#flechasalir:hover{
    transform: scaleY(1.2);
    cursor: pointer;
}
#login{
    margin-top: 30px;
    margin-left: 730px;
    
}
#basura{
    margin-top: 10px;
    margin-left: 11px;
    width: 22px;
    height: 30px;
    
}
#basura:hover{
    transform: scale(1.1);
    cursor: pointer;
}